<IfModule mod_rewrite.c>
    RewriteEngine On

    # Base path for the public folder
    RewriteBase /restaurant_management/

    # Redirect to index.php for routing (for non-file and non-directory requests)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
